root = true

[gamefiles**.json]
charset                  = utf-8
end_of_line              = lf
indent_size              = 2
indent_style             = space
insert_final_newline     = false

[gamefiles**.{frag,vert}]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = tab
insert_final_newline     = false
trim_trailing_whitespace = true

[src/**]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = tab
insert_final_newline     = true
trim_trailing_whitespace = true

[src/{endian,gsl,rapidjson,rectpack2D}/**]
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
trim_trailing_whitespace = unset

[src/Game/{fsa,stlastar}.h]
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
trim_trailing_whitespace = unset

[src/Utils/iterator_tpl.h]
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
trim_trailing_whitespace = unset
