/*.cbp
/*.db
/*.depend
/*.dll
/*.exe
/*.layout
/*.MPQ
/*.opendb
/*.vcxproj.filters
/*.vcxproj.user
/.svn
/.vs
/bin
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/Debug
/DGEngine
/DIABDAT
/DIABDAT.*
/gamefiles.zip
/gamefiles/res/icon.png
/Makefile
/obj
/PhysicsFS
/Release
/Release Static
/sfeMovie
/SFML
