/*.cbp
/*.db
/*.depend
/*.dll
/*.exe
/*.layout
/*.mpq
/*.MPQ
/*.opendb
/*.vcxproj.filters
/*.vcxproj.user
/.svn
/.vs
/bin
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/Debug
/Debug Clang
/Debug Code Analysis
/Debug VS2015
/DGEngine
/DIABDAT
/DIABDAT.*
/FFMPEG*
/FFmpeg*
/gamefiles.zip
/gamefilesd.zip
/gamefilesd/res/icon.png
/gamefileshf.zip
/gamefileshf/res/icon.png
/fantasycore.zip
/hellfire
/hellfire.*
/hfmonk
/hfmonk.*
/hfmusic
/hfmusic.*
/hfvoice
/hfvoice.*
/Makefile
/obj
/PhysicsFS
/Release
/Release Static
/sfeMovie
/SFML
/Win32
