root = true

[CMakeLists.txt]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true

[gamefiles**.json]
charset                  = utf-8
end_of_line              = lf
indent_size              = 2
indent_style             = space
insert_final_newline     = false

[gamefiles**.{frag,vert}]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = tab
insert_final_newline     = false
trim_trailing_whitespace = true

[src/**]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = tab
insert_final_newline     = true
trim_trailing_whitespace = true

[src/{endian,rapidjson}/**]
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
trim_trailing_whitespace = unset

[src/SFML/dr_wav.h]
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
trim_trailing_whitespace = unset

[src/Utils/{iterator_tpl.h,re.*}]
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
trim_trailing_whitespace = unset
